extends layout

block meta
    link(rel="stylesheet", href="/lib/artDialog/skins/default.css")
    include ../common/_kindeditor.jade

block content
    include ../common/_admin_navbar
    .content
        .header
            h1.page-title 修改博文
        ul.breadcrumb
            li
                a(href="/admin") 首页
                span.divider /
            li.active 改博
        .container-fluid
            .row-fluid
                form(action="/blog/update", method="post")
                    input(type="hidden", name="blog.id", value="#{blog.id}")
                    .btn-toolbar
                        button.btn.btn-primary(type="submit")
                            i.icon-save 
                            | &nbsp;保存
                        a.btn(href="/blog/list") 返回
                        .btn-group
                    .well
                        #myTabContent.tab-content
                            label 标题
                            input.input-xlarge(type="text", name="blog.title", value="#{blog.title}", required="required")
                            label 分类
                            select#DropDownTimezone.input-xlarge(name="blog.blog_type")
                                each item in types
                                    if item.id == blog.blog_type
                                        option(value="#{item.id}", selected="selected") #{item.type_name}
                                    else
                                        option(value="#{item.id}") #{item.type_name}
                            label 内容
                            textarea#editor.input-xlarge(name="blog.content") !{blog.content}

                include ../common/_admin_modal
                include ../common/_admin_footer

block script
    script(src="/lib/artDialog/jquery.artDialog.js")
    script
        $('form').submit(function(){
            var dialog = art.dialog();
            var title = $('input[name="blog.title"]').val();
            var content = $('#editor').val();
            if( title.length < 3 ){
                dialog.content('标题太短！').time(1);
                return false;
            }
            if( content.length < 10 ){
                dialog.content('亲再多些点吧！').time(1);
                return false;
            }
            $.post($(this).attr('action')
                , $('form').serialize()
                , function(data){
                    if(data.state){
                        dialog.content('保存成功！').time(1);
                        setTimeout(function(){
                                location.href = '/blog/list';
                        }, 1500);
                    }else{
                        dialog.content('服务器忙，请稍候！').time(2);
                    }
                }
            );
            return false;
        });